Library/
Logs/
UserSettings/
Temp/
obj/
dlls/
.vs/
Testbed.sln
Assembly-CSharp.csproj
cameraconfig.xml
cameraconfig.json
config-user.json
.collabignore
*.csproj
*.sln
Exe/
Build/
Builds/
built/
dll/
built-VRTogether
buildlog.txt
bin2dash.so
signals-unity-bridge.so
bin2dash.dylib
signals-unity-bridge.dylib
/[Pp]ackages/*
!/[Pp]ackages/*.json
com.Tivadar.Best.*
Assets/Best\ Socket.IO\ Bundle/
cameraconfig.json~
