stages:
  - build
      
build_win:
  stage: build
  only: 
  - tags
  tags:
  - win10unity
  before_script:
   - mkdir deployment-helpers
   - cd deployment-helpers
   - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@baltig.viaccess-orca.com:8443/VRT/deployment-group/Deployment
   - python -m pip install -r Deployment/scripts/requirements.txt
   - cd ..
  script:
    - bash build-VRTogether.sh --dest VRTogether
    - mkdir deliverables
    - "& \"C:/Program Files/7-Zip/7z.exe\" a -tzip -r VRTogether deliverables/Unity_Player_$CI_COMMIT_TAG.zip"
    - python deployment-helpers/Deployment/scripts/addReleaseToGitLab --cicd --notag Unity_Player_$CI_COMMIT_TAG.zip
