[submodule "Assets/PilotsExternal/mediaScape"]
	path = Assets/PilotsExternal/mediaScape
	url = ../VRTApp-mediaScape.git
[submodule "Packages/External/VR2G-besthttp"]
	path = Packages/External/VR2G-besthttp
	url = git@github.com:cwi-dis/VR2G-besthttp
