variables:
  GIT_SUBMODULE_STRATEGY: recursive
  
stages:
  - build
      
build_win:
  stage: build
  only: 
  - tags
  tags:
  - win10unity
  - vrtogether
  before_script:
   - mkdir deployment-helpers
   - cd deployment-helpers
   - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/VRTogether_EU/Deployment/Deployment
   - python -m pip install -r Deployment/scripts/requirements.txt
   - cd ..
  script:
    - bash build-VRTogether.sh --dest VRTogether
    - mkdir deliverables
    - "& \"C:/Program Files/7-Zip/7z.exe\" a -tzip -r deliverables/Unity_Player_$CI_COMMIT_TAG.zip VRTogether"
    - $pver = & bash deployment-helpers/Deployment/scripts/mkpackageversion.sh
    - echo "xxxjack package_version=$pver"
    - python deployment-helpers/Deployment/scripts/addReleaseToGitLab --debug --cicd --notag --package_version $pver Unity_Player_$CI_COMMIT_TAG.zip
